body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 90vh;
    width: 1150px;
  }
  #login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: 320px;
    margin-top: 50px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  #login-box {
      background-color: rgb(0, 0, 0, 0.5)
  }

  #intek-logo {
    position: absolute; 
    bottom: 0; 
    right: 0;
    background-color: black;
    padding: 5px;
    height: 40px;
  }