body {
   margin: 0;
   padding: 0;
   background-color: white;

 }
 #login .container #login-row #login-column #login-box {
   max-width: 600px;
   height: 320px;
 }
 #login .container #login-row #login-column #login-box #login-form {
   padding: 20px;
 }
 #login .container #login-row #login-column #login-box #login-form #register-link {
   margin-top: -85px;
 }



 #intek-logo {
   position: absolute; 
   bottom: 0; 
   right: 0;
   background-color: black;
   padding: 5px;
   height: 40px;
 }